@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5,rgb(149, 7, 118));
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex__ {
    width: 100%;
    max-width: 425px;
}

.pokemonImage__ {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%,20%);
    height: 15%;
}

.pokemonData__ {
    position: absolute;
    font-weight: 700;
    color: #394857;
    top: 54%;
    right: 26.5%;
    font-size: clamp(8px,5vw,22px);
    
}

@keyframes loading {
    to {
        padding-left: 0;
    }
}

.pokemonName__ {
    color: #394857;
    text-transform: capitalize;
    animation: loading 1.5s infinite steps(4);
    overflow: hidden;
}

.form__ {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.inputSearch__ {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 6px;
    font-weight: 600;
    color: #3a444d;
    font-size: clam(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 6px 0 #333;
}

.buttons__ {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%,0);
    display: flex;
    gap: 20px;
}

.button__ {
    width: 50%;
    padding: 4%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    font-size: clam(6px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 5px 0 #000;
    cursor: pointer;
}

.button__:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}
